<!DOCTYPE html>
<html>
<head>
    <title>Rill Search - Results</title>
    <style>
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    {% if results %} <!-- Check if there are any search results. -->
        <ul>
            <!-- Loop through each URL in the results, then show clickable links which open in new tabs. -->
            {% for result in results %}
                <h3><a href="{{ result['url'] }}" target="_blank">{{ result['title'] }}</a></h3>
                <p>{{ result['teaser']|safe }}</p>
            {% endfor %}
        </ul>
    {% else %} <!-- If there are no search results, tell the user. -->
        <p>Rill Search couldn't find anything for your query "{{ query }}", sorry!</p>
    {% endif %}
    <a href="/">Back home</a> <!-- Show a clickable link which goes back home (to search again). -->
</body>
</html>
